/* Will be compiled down to a single stylesheet with your sass files */
.dialogue-container{
    display:none;
    position:absolute;
    background-color: #FFFFFF;

}
.large-dialogue{
    left:30%

}
#playArea .playAreaLayer {
    float:left;
}
.playAreaLayer {
    position:absolute;
    top:20%;
    left:20%;
    right:20%;
    bottom:20%
}

.view-model-item{
    position:absolute
}

.fleet-asset-2d{
    border:solid 1px black;
    width:30px;
    height:60px
}