

<g>
    <circle rv-hide="ship.nominated" class="asset-selection-highlight" rv-visibility="ship.friendly | toggle visible hidden"
            rv-each-ship=".ships" rv-r="ship.length | multiplier 0.8"
            rv-class="ship.classList" rv-cx="ship.xpx"
            rv-cy="ship.ypx" fill="url(#underlight)"
            stroke="transparent" rv-stroke-width="ship.length | multiplier 0.05">

        <animate rv-id="ship.UUID | sprintf %s-animateover" rv-begin="ship.UUID | sprintf %shotspot.mouseover"
                 attributeType="XML"
                 attributeName="stroke"
                 restart="whenNotActive"
                 to="black"
                 fill="freeze"
                 dur="0.3s"/>
        <animate rv-id="ship.UUID | sprintf %s-animateover" rv-begin="ship.UUID | sprintf %shotspot.mouseout"
                 attributeType="XML"
                 attributeName="stroke"
                 restart="whenNotActive"
                 to="transparent"
                 fill="freeze"
                 dur="0.3s"/>
        <animate
            attributeType="CSS"
            rv-begin="ship.UUID | sprintf %shotspot.mouseover"
            attributeName="fill-opacity"
            restart="whenNotActive"
            dur="0.3s"
            to="0"
            fill="freeze"/>
        <animate
                attributeType="CSS"
                rv-begin="ship.UUID | sprintf %shotspot.mouseout"
                attributeName="fill-opacity"
                restart="whenNotActive"
                dur="0.3s"
                to="0.75"
                fill="freeze"/>
    </circle>

</g>