<div data-rv-class-right-panel-open=".selectedGame">
    <div class="list-view left-panel panel-list">
        <div data-rv-feeditem-game-id=".games" data-rv-id="game.id" class="list-item animatable" data-rv-class-selected="game.selected" data-rv-class-new="game.new" data-rv-style_top="game.ordinal | multiplier 70 %spx">
            <div class="tag" data-rv-text="game.createdText"></div><span class="info-panel large" data-rv-text="game.label"></span><br/> <span class="list-comment" data-rv-text="game.statusText"></span>
        </div>
    </div>


</div>