<svg viewbox="0 0 72 48">
    <g class="play-area-layer" id="backgroundLayer">

    </g>
    <g class="play-area-layer" id="sceneryLayer"></g>
    <g class="play-area-layer" id="shipsLayer">
        <rect data-rv-each-ship=".gameBoard.ships" data-rv-height="ship.length" data-rv-width="ship.width" data-rv-class="ship.classList" data-rv-x="ship | centroid xpx width" data-rv-y="ship | centroid ypx length" data-rv-style_transform="ship.transformDegrees | rotateCss"></rect>
    </g>
    <g class="play-area-layer" id="flyersLayer"></g>
    <g class="play-area-layer" id="UIOverlayLayer">
        <g data-rv-each-overlay=".gameBoard.overlays" class="play-area-layer overlay" data-rv-id="overlay.id"></g>
    </g>
</svg>