<svg viewbox="0 0 72 48">
    <defs>
        <radialGradient id="underlight">
            <stop offset="0" style="stop-color:rgb(255,255,255);stop-opacity:0" >
            </stop>
            <stop offset="0" style="stop-color:rgb(0,0,0);stop-opacity:0.75" >

            </stop>
            <stop offset="0.5" style="stop-color:rgb(0,0,0);stop-opacity:0" />
        </radialGradient>
</defs>
    <g class="play-area-layer" id="backgroundLayer">

    </g>
    <g class="play-area-layer" id="sceneryLayer"></g>
    <g class="play-area-layer" id="UIUnderlayLayer">
        <g rv-each-underlay=".gameBoard.underlays" class="play-area-layer underlay" rv-id="underlay.id"></g>
    </g>
    <g class="play-area-layer" id="shipsLayer">
        <rect rv-each-ship=".gameBoard.ships" rv-id="ship.UUID" rv-height="ship.length" rv-width="ship.width" rv-class="ship.classList" rv-x="ship | centroid xpx width" rv-y="ship | centroid ypx length" rv-style_transform="ship.transformDegrees | rotateCss"></rect>
    </g>
    <g class="play-area-layer" id="flyersLayer"></g>
    <g class="play-area-layer" id="UIOverlayLayer">
        <g rv-each-overlay=".gameBoard.overlays" class="play-area-layer overlay" rv-id="overlay.id"></g>
    </g>
</svg>