<div data-rv-class-right-panel-open=".selectedChallengeId">
    <div class="list-view left-panel panel-list">
        <div data-rv-feeditem-challenge-id=".challenges" data-rv-id="challenge.id" class="list-item animatable" data-rv-class-selected="challenge.selected" data-rv-class-new="challenge.new" data-rv-style_top="challenge.ordinal | multiplier 70 %spx">
            <div class="tag" data-rv-text="challenge.createdText"></div><span class="info-panel large" data-rv-text="challenge.label"></span><br/> <span class="list-comment" data-rv-text="challenge.statusText"></span>
        </div>
    </div>

    <div class="list-view right-panel">
        <div class="current-game">
            <div class="scenario-info">
                <span class="heading" data-rv-text=".selectedChallenge.label < .selectedChallenge"></span><br/>
                <span data-rv-text=".selectedChallenge.description < .selectedChallenge"></span>
            </div>
            <div class="player-selection">
                <span class="large">Player Roster: </span>

                <div data-rv-each-player=".challengePlayerList < .selectedChallenge .challengePlayerList" class="list-item" data-rv-class-selected-player="player.selectedForUser">
                    <div class="x-info-panel">
                        <span data-rv-text="player.name" class="large" /><br/>
                        <span data-rv-text="player.description" />
                    </div>
                    <div class="challenge-response-marker" data-rv-classappend="player.user.status"></div>
                    <div class="x-user-info"><span data-rv-text="player.user.id < player.user"></span><span class="selected-player-only"> (you)</span></div>

                </div>
            </div>
        </div>
        <div class="button-row">
            <input type="button" class="awaiting-response-only" id="accept-challenge" value="Accept"/>
            <input type="button" class="awaiting-response-only" id="reject-challenge" value="Reject"/>
        </div>
    </div>

</div>